* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --barlow: "Barlow Condensed", sans-serif;
  --bellefair:"Bellefair", serif;
  --dark:hsl(230, 35%, 7%);
  --smoke:hsl(231, 77%, 90%);
  --white:hsl(0, 0%, 100%);
  --white-50:hsla(0, 0%, 100%, 0.5);
  --white-10:hsla(0, 0%, 100%, 0.1);
  --transition: all 0.3s;
}

.txt-dark {
  color: var(--dark);
}

.txt-smoke {
  color: var(--smoke);
}

.txt-white {
  color: var(--white);
}

.txt-white-50 {
  color: var(--white-50);
}

.txt-white-10 {
  color: var(--white-10);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-smoke {
  background-color: var(--smoke);
}

.bg-white {
  background-color: var(--white);
}

.bg-white-50 {
  background-color: var(--white-50);
}

.bg-white-10 {
  background-color: var(--white-10);
}

ul[class] {
  list-style: none;
}

p {
  line-height: 25px;
}

.wrapper {
  padding-inline: 37px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 690px;
    padding-inline: 0;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1235px) {
  .wrapper {
    max-width: 1110px;
  }
}

.wrapper-big {
  padding-inline: 24px;
}
@media screen and (min-width: 1235px) {
  .wrapper-big {
    max-width: 1110px;
    margin-inline: auto;
  }
}

.txt-300 {
  font-weight: 300;
}

.txt-500 {
  font-weight: 500;
}

.txt-800 {
  font-weight: 800;
}

.bellefair {
  font-family: var(--bellefair);
}

.barlow {
  font-family: var(--barlow);
}

.lettspace-4-75 {
  letter-spacing: 4.75px;
}

.lettspace-2-7 {
  letter-spacing: 2.7px;
}

.lettspace-2-35 {
  letter-spacing: 2.35px;
}

.txt-uppercase {
  text-transform: uppercase;
}

.no-disp {
  display: none;
}

.hide-it {
  height: 0;
  opacity: 0;
  pointer-events: none;
  width: 0;
  overflow: hidden;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gap {
  gap: 10px;
}

#main-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999999;
  -webkit-padding-before: 25px;
          padding-block-start: 25px;
}
#main-header .wrapper-big {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main-header #main-nav-container {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 100svh;
  pointer-events: none;
}
#main-header #main-nav-container ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 110svw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--white-50)), to(var(--dark)));
  background-image: linear-gradient(to top, var(--white-50), var(--dark));
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-padding-before: 20svh;
          padding-block-start: 20svh;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#main-header #main-nav-container ul li {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
#main-header #main-nav-container ul li.current a::after {
  opacity: 1;
}
#main-header #main-nav-container ul a {
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  position: relative;
  padding: 1rem 1rem 1rem 2rem;
  margin-block: 19px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#main-header #main-nav-container ul a::after {
  content: "";
  position: absolute;
  right: -100%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
#main-header #main-nav-container.show {
  pointer-events: all;
}
#main-header #main-nav-container.show ul {
  left: 30svw;
  opacity: 1;
}
#main-header #main-nav-container.show ul li {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
#main-header #main-nav-container.show ul a::after {
  right: 0%;
}
@media screen and (min-width: 768px) {
  #main-header #main-nav-container {
    position: relative;
    height: auto;
    pointer-events: auto;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
  #main-header #main-nav-container ul {
    opacity: 1;
    background-image: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    border: transparent;
    position: relative;
    left: unset !important;
    right: auto;
    -webkit-padding-start: 48px;
            padding-inline-start: 48px;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
  #main-header #main-nav-container ul::after {
    content: "";
    position: absolute;
    left: 0;
    right: -200%;
    height: 100%;
    background-color: var(--white-10);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    z-index: -20;
  }
  #main-header #main-nav-container ul li {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #main-header #main-nav-container ul a {
    margin-block: 0;
    padding: 48px 0;
    margin-inline: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #main-header #main-nav-container ul a .index {
    display: none;
  }
  #main-header #main-nav-container ul a::after {
    width: 100%;
    height: 4px;
    bottom: 0;
    top: unset;
    -webkit-transition-delay: unset;
            transition-delay: unset;
    right: 100%;
    left: 0;
  }
  #main-header #main-nav-container ul a:hover::after {
    opacity: 0.5;
    right: 0;
  }
}
@media screen and (min-width: 1235px) {
  #main-header #main-nav-container ul::before {
    content: "";
    position: absolute;
    left: -70%;
    right: 95%;
    height: 3px;
    top: 50%;
    background-color: var(--white-50);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    z-index: -10;
  }
  #main-header #main-nav-container ul li a .index {
    display: inline-block;
  }
}
#main-header .logo-container, #main-header .burger-container {
  z-index: 100;
}
#main-header .logo-container {
  position: absolute;
  left: 2rem;
}
#main-header .burger-container {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2509803922));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2509803922));
}
#main-header .burger-container path {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#main-header .burger-container.show path {
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
}
#main-header .burger-container.show path:nth-of-type(1) {
  -webkit-transform: translate(-30%, 30%) rotate(45deg);
          transform: translate(-30%, 30%) rotate(45deg);
}
#main-header .burger-container.show path:nth-of-type(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
}
#main-header .burger-container.show path:nth-of-type(3) {
  -webkit-transform: translate(-30%, -30%) rotate(-45deg);
          transform: translate(-30%, -30%) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  #main-header .burger-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #main-header {
    -webkit-padding-before: unset;
            padding-block-start: unset;
  }
}

#hero-section {
  background-image: url(./home/background-home-mobile.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero-section.subpage-section {
  background-image: url(./destination/background-destination-mobile.jpg);
}
#hero-section.subpage-section.crew-subpage {
  background-image: url(./crew/background-crew-mobile.jpg);
}
#hero-section.subpage-section.crew-subpage .slider-text-container p {
  -webkit-border-after: unset;
          border-block-end: unset;
}
@media screen and (min-width: 768px) {
  #hero-section {
    background-image: url(./home/background-home-tablet.jpg);
  }
  #hero-section.subpage-section {
    background-image: url(./destination/background-destination-tablet.jpg);
  }
  #hero-section.subpage-section.crew-subpage {
    background-image: url(./crew/background-crew-tablet.jpg);
  }
  #hero-section.subpage-section.crew-subpage .wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content {
    display: grid;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-text-container {
    grid-row: 1;
    max-width: 400px;
    justify-self: center;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-nav-container {
    grid-row: 2;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-media-container {
    grid-row: 3;
    align-self: end;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-media-container img {
    width: 100%;
    max-width: 250px;
  }
}
@media screen and (min-width: 1235px) {
  #hero-section {
    background-image: url(./home/background-home-desktop.jpg);
  }
  #hero-section.subpage-section {
    background-image: url(./destination/background-destination-desktop.jpg);
  }
  #hero-section.subpage-section.crew-subpage {
    background-image: url(./crew/background-crew-desktop.jpg);
  }
  #hero-section.subpage-section.crew-subpage .wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-padding-before: 20vh;
            padding-block-start: 20vh;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .sub-section-main-title {
    position: absolute;
    top: 20vh;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content {
    grid-template-rows: 1.8fr 0.2fr;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-media-container {
    grid-row: 1/span 2;
    grid-column: 2;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-media-container img {
    width: 100%;
    max-width: 100%;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-text-container {
    max-width: 100%;
    width: 100%;
    -ms-flex-item-align: end;
        align-self: end;
    -webkit-margin-after: 2rem;
            margin-block-end: 2rem;
  }
  #hero-section.subpage-section.crew-subpage .wrapper .content .slider-nav-container li {
    width: 20px;
  }
}
#hero-section .content {
  max-width: 444px;
}
#hero-section .wrapper {
  min-height: 100svh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  text-align: center;
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}
#hero-section .main-title {
  margin-block: 0.5rem 1rem;
  font-size: 7rem;
  font-weight: 300;
}
#hero-section p {
  font-size: 16px;
  font-weight: 300;
}
#hero-section .call-to-action a {
  text-decoration: none;
  font-family: var(--bellefair);
  text-transform: uppercase;
  color: var(--dark);
  background-color: var(--white);
  display: block;
  width: 150px;
  height: 150px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 var(--white-10);
          box-shadow: 0 0 0 0 var(--white-10);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
#hero-section .call-to-action a span {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
#hero-section .call-to-action a:hover {
  -webkit-box-shadow: 0 0 0 2.5rem var(--white-10);
          box-shadow: 0 0 0 2.5rem var(--white-10);
}
@media screen and (min-width: 768px) {
  #hero-section .wrapper h2 .over-title {
    font-size: 20px;
  }
  #hero-section .wrapper h2 .main-title {
    font-size: 150px;
    -webkit-margin-before: 3rem;
            margin-block-start: 3rem;
  }
  #hero-section .call-to-action a {
    width: 242px;
    height: 242px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1235px) {
  #hero-section .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 0;
    -webkit-padding-after: 0;
            padding-block-end: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  #hero-section .content h2, #hero-section .content p {
    text-align: left;
    max-width: 447px;
  }
  #hero-section .content p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
#hero-section.subpage-section .sub-section-main-title span.index {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  #hero-section.subpage-section .sub-section-main-title {
    width: 100%;
    text-align: left;
  }
}
#hero-section.subpage-section .slider-media-container .media:not(.current),
#hero-section.subpage-section .slider-text-container .slider-text:not(.current) {
  display: none;
}
#hero-section.subpage-section .slider-media-container .media img {
  max-width: 170px;
  display: block;
  margin-inline: auto;
}
#hero-section.subpage-section .slider-media-container.crew-media-container {
  -webkit-border-after: 2px solid var(--white-10);
          border-block-end: 2px solid var(--white-10);
}
#hero-section.subpage-section .slider-nav-container ul {
  max-width: 233px;
  margin: 20px auto 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
#hero-section.subpage-section .slider-nav-container ul li {
  font-weight: 100;
  color: var(--white-50);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
#hero-section.subpage-section .slider-nav-container ul li.current {
  color: var(--white);
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 13px;
}
#hero-section.subpage-section .slider-nav-container.dots-container ul {
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
#hero-section.subpage-section .slider-nav-container.dots-container ul li {
  min-width: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
  background-color: var(--white-10);
  border-radius: 50%;
}
#hero-section.subpage-section .slider-nav-container.dots-container ul li.current {
  background-color: var(--white);
}
#hero-section.subpage-section .slider-text-container .slider-details-title {
  font-size: 56px;
}
#hero-section.subpage-section .slider-text-container .slider-details-title span.overtitle {
  font-size: 16px;
}
#hero-section.subpage-section .slider-text-container .slider-details-title span.maintitle {
  font-size: 24px;
}
@media screen and (min-width: 1235px) {
  #hero-section.subpage-section .slider-text-container .slider-details-title {
    text-align: left;
  }
}
#hero-section.subpage-section .slider-text-container p {
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
  -webkit-border-after: 1px solid var(--white-10);
          border-block-end: 1px solid var(--white-10);
  font-size: 15px;
}
#hero-section.subpage-section .slider-details-container li {
  margin-block: 2rem;
}
#hero-section.subpage-section .slider-details-container .list-title {
  font-size: small;
  font-family: var(--barlow);
  line-height: 2rem;
}
#hero-section.subpage-section .slider-details-container .list-data {
  font-size: 28px;
  font-family: var(--bellefair);
}
@media screen and (min-width: 768px) {
  #hero-section.subpage-section .slider-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1235px) {
  #hero-section.subpage-section .slider-details-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3rem;
  }
  #hero-section.subpage-section .slider-details-container li {
    text-align: left;
  }
}
#hero-section.subpage-section .content {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1235px) {
  #hero-section.subpage-section .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr;
  }
  #hero-section.subpage-section .content .slider-media-container {
    grid-column: 1;
    grid-row: 1/span 2;
    align-self: center;
    justify-self: flex-start;
  }
  #hero-section.subpage-section .content .slider-media-container img {
    max-width: 70%;
  }
  #hero-section.subpage-section .content .slider-nav-container {
    justify-self: flex-start;
  }
}/*# sourceMappingURL=app.css.map */