//Reset
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
$clrs:(
  dark: hsl(230, 35%, 7%),
  smoke: hsl(231, 77%, 90%),
  white: hsl(0, 0%, 100%),
  white-50: hsla(0, 0%, 100%, 0.5),
  white-10: hsla(0, 0%, 100%, 0.1)
);
//Mixin Breakpoints
@mixin tablet{
  @media screen and (min-width: 768px){@content;}
}

@mixin desktop{
  @media screen and (min-width: 1235px){@content;}
}
//Vars
:root{
  --barlow: "Barlow Condensed", sans-serif;
  --bellefair:"Bellefair", serif;
  @each $clr, $vl in $clrs{
    --#{$clr}:#{$vl};
  }
  --transition: all 0.3s;
}
//Text Colors
@each $clr, $vl in $clrs{
  .txt-#{$clr}{
    color: var(--#{$clr});
  }
}

//Background Colors
@each $clr, $vl in $clrs{
  .bg-#{$clr}{
    background-color: var(--#{$clr});
  }
}

